.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: rgb(97,97,97);
    background: linear-gradient(360deg, rgba(97,97,97,1) 28%, #212529 100%);
    overflow: hidden;
}