<title>Perfil</title>

<body class="bg-gradiente">
    <navbar></navbar>
    <app-panel-lateral-perfil></app-panel-lateral-perfil>
    <div class="container-sm">
        <form class="text-color mt-3">
            <h5>
                <i class="bi bi-gear-wide-connected me-2"></i>
                Ajustes del usuario
            </h5>
            <div class="input-group">
              <span class="input-group-text">Email <i class="bi bi-envelope ms-2"></i></span>
              <input type="email" class="form-control shadow-sm" id="email" value="{{ logged.correo }}" disabled>
            </div>
            <div class="form-group mt-2">
                <small>Para cambiar tu email, contacta con un administrador.</small>
            </div>
            <div class="input-group mt-2">
                <span class="input-group-text">Nombre y apellidos<i class="bi bi-person-lines-fill ms-2"></i></span>
                <input type="text" name="nombre" class="form-control shadow-sm" value="{{ logged.nombre }}">
                <input type="text" name="apellidos" class="form-control shadow-sm" value="{{ logged.apellidos }}">
            </div>
            <div class="input-group mt-2">
                <span class="input-group-text">Edad<i class="bi bi-123 ms-2"></i></span>
                <input type="number" name="nombre" class="form-control shadow-sm" value="{{ logged.edad }}">
            </div>
            <div class="input-group mt-2">
                <span class="input-group-text">Descripción<i class="bi bi-pencil-fill ms-2"></i></span>
                <input type="text" name="descripcion" class="form-control shadow-sm" value="{{ logged.descripcion }}">
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-outline-color mt-3" click="actualizar()">Actualizar datos</button>
            </div>
          </form>
          <form class="text-color mt-2">
            <h5>
                <i class="bi bi-key-fill"></i>
                Cambio de contraseña
            </h5>
            <div class="input-group">
                <span class="input-group-text">Contraseña<i class="bi bi-key ms-2"></i></span>
                <input type="email" class="form-control shadow-sm" id="pass" name="pass">
              </div>
              <div class="input-group mt-2">
                <span class="input-group-text">Repetir contraseña<i class="bi bi-key ms-2"></i></span>
                <input type="email" class="form-control shadow-sm" id="passRepetir" name="passRepetir">
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-outline-color mt-3">Cambiar contraseña</button>
            </div>
          </form>
    </div>
</body>