<!-- NAVBAR -->
<div class="container-fluid bg-dark border-bottom border-color d-flex justify-content-between p-2 px-4">
    <div href="#" class="link-color">
        <i class="bi bi-person icono-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#lateralPerfil" aria-controls="lateralPerfil"></i>
    </div>
    <div href="#" class="link-color">
        <i class="bi bi-house icono-sm" routerLink="/home"></i>
    </div>
    <div href="#" class="link-color" data-bs-toggle="modal" data-bs-target="#confirmacionSesion">
        <i class="bi bi-box-arrow-right"></i>
    </div>
</div>

<!-- MODAL CONFIRMAR -->
<div class="modal fade" id="confirmacionSesion" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-color border-0 border-3 border-bottom border-color">
            <div class="modal-header border-0 border-1 border-bottom border-color">
                <h5 class="modal-title">Cerrar sesión</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p>¿Quieres cerrar sesión?</p>
                <div class="d-grid">
                    <button type="button" class="btn btn-color"  data-bs-dismiss="modal" (click)='logout()'>Salir</button>
                </div>
            </div>
        </div>
    </div>
</div>
