<div class="container-fluid bg-dark border-bottom border-color d-flex justify-content-between p-2 px-4">
    <div href="#" class="link-color">
        <i class="bi bi-person icono-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#lateralPerfil" aria-controls="lateralPerfil"></i>
    </div>
    <div href="#" class="link-color">
        <i class="bi bi-house icono-sm" routerLink="/home"></i>
    </div>
    <div href="#" class="link-color">
        <i class="bi bi-box-arrow-right" (click)='logout()'></i>
    </div>
</div>
