<body class="bg-gradiente">
    <navbar></navbar>
    <app-panel-lateral-perfil></app-panel-lateral-perfil>

    <div class="container-fluid text-color">
        <div class="container-fluid text-center mt-3">
            <h3>Chat</h3>
            <p>
                Bienvenido al chat de <b>RSOCIAL</b>.<br>
                ¡Aquí podrás hablar con tus amigos!
            </p>
        </div>
        <div *ngIf="logged.rol == 'admin'" class="container-fluid m-2 card bg-transparent border-color p-2">
            <h4><i class="bi bi-exclamation-triangle me-2"></i>¡AVISO!</h4>
            <p>Estas logueado como un administrador<br>Al ser un administrador no tienes acceso a la función de chat por privacidad.</p>
        </div>
        <div *ngIf="logged.rol == 'user'" class="row border border-color m-2">
            <div class="row">Chat</div>
            <div class="col-2 border border-color m-0 p-0">
                <ul *ngFor="let amigo of amigos" class="list-group">
                    <li class="btn btn-outline-color rounded-0">{{ amigo.correo }}</li>
                </ul>
            </div>
            <div class="col-10 border border-color">
                
            </div>
        </div>
    </div>

</body>
