@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import '~swiper/swiper-bundle.min.css';

:host {
    --dark: #212529;
    --dark-hover: #4e4e4e;
    --dark-low: #949393;
    --col-hover: #0a6679;
    --col: #0dcaf0;
    --b: #fff;
    --transicion: .15s ease-in-out,box-shadow .15s ease-in-out;
}

::selection {
    color: var(--col-hover);
    border: 1px solid var(--col);
}

*, html, body {
    font-family: 'Montserrat', sans-serif;
}

#contenedor {
    margin-top: 4rem;
}

.bg-gradiente {
    background: rgb(97,97,97) !important;
    background: linear-gradient(360deg, rgba(97,97,97,1) 28%, #212529 100%) !important;
}

.bg-danger {
    background-color: rgb(206, 34, 34) !important;
}

.bg-color {
    background-color: var(--col) !important;
}

.border-color {
    border-color: var(--col) !important;
}

.btn:focus {
    box-shadow: 0 0 0 0.25rem transparent !important
}

.btn-color {
    background-color: var(--col) !important;
    color: var(--dark) !important;
}

.btn-color:hover {
    background-color: transparent !important;
    border: 1px solid var(--col) !important;
    color: var(--col) !important;
}

.btn-outline-color {
    background-color: transparent !important;
    border: 1px solid var(--col);
    color: var(--col);
}

.btn-outline-color:hover {
    background-color: var(--col) !important;
    border: 1px solid var(--col);
    color: var(--dark);
}

.text-color {
    color: var(--col) !important;
}

.form-control {
    border-color: transparent;
    background-color: var(--b);
    transition:  var(--transicion);
}

.form-control:focus {
    border-color: var(--col);
    transition: var(--transicion);
}

.link-color {
    cursor: pointer;
    color: var(--col) !important;
    transition: var(--transicion);
}

.link-color:hover {
    cursor: pointer;
    color: var(--col-hover) !important;
    transition: var(--transicion);
}

.list-group-item {
    background-color: transparent !important;
    color: var(--col) !important;
    border-color: var(--col) !important;
}

.icono {
    font-size: 1.3rem;
}

.icono-sm {
    font-size: 1.1rem;
}

.input-group-text {
    background-color: transparent;
    color: var(--col);
    border-color: var(--col);
}

.ellipsis {
    text-overflow: ellipsis;
}

.table {
    color: var(--col) !important;
}