<body class="bg-gradiente">
    <navbar></navbar>
    <app-panel-lateral-perfil></app-panel-lateral-perfil>

    <div class="container-fluid text-color mt-2">
        <h4>
            <i class="bi bi-wrench me-2"></i>Panel de administrador
        </h4>
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>
    
    <div id="usuariosAdmin" class="container-fluid">
        <ag-grid-angular 
            class="ag-theme-balham bg-dark text-color"
            [animateRows]="true"
            [rowData]="usuarios" 
            [columnDefs]="columnas">
        </ag-grid-angular>
    </div>
    

</body>
