<title>Administrador</title>
<body class="bg-gradiente">
    <!-- NAVBAR -->
    <navbar></navbar>
    <!-- PANEL LATERAL -->
    <app-panel-lateral-perfil></app-panel-lateral-perfil>

    <!-- ADMIN -->
    <div class="container-fluid text-color mt-2">
        <div class="container-fluid">
            <div class="row">
                <h5>Información general</h5>
                <div class="col">
                    <div class="card border-color bg-dark">
                        <div class="card-body text-center">
                            <h5 class="card-title">Usuarios</h5>
                            <p class="card-text">Cantidad: {{ usuarios.length }}</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card border-color bg-dark">
                        <div class="card-body text-center">
                            <h5 class="card-title">Roles</h5>
                            <p class="card-text">
                                <i class="bi bi-person-fill ms-2"></i>Users: {{ stats.users }}
                                <i class="bi bi-award-fill ms-2"></i>Admins: {{ stats.admins }}
                            </p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
        <!-- TABLA AG-GRID -->
        <div id="usuariosAdmin" class="container-fluid">
            <h5 class="mt-3">
               Panel de administrador
            </h5>
            <p><i class="bi bi-info-square-fill me-2"></i>Para editar los datos de un usuario simplemente con hacer click en un campo y despues 'Enter' ya se aplicaran los cambios.</p>
            <ag-grid-angular 
            id="usuariosAdminTabla"
            class="ag-theme-balham-dark border border-color"
            [rowSelection]="rowSelection"
            [defaultColDef]="defaultColDef"
            [animateRows]="true"
            [rowData]="usuarios" 
            [columnDefs]="columnas"
            (gridReady)="tablaCargada($event)"
            (dragStopped)="columnaMovida($event)"
            [singleClickEdit]="true"
            (selectionChanged)="seleccionarFila($event)"
            (cellValueChanged)="campoCambiando($event)">
            </ag-grid-angular>
        </div>
        
        <div *ngIf='seleccionado' class="container-fluid text-color mt-2 pb-5">
            <div class="row">
                <h5>Opciones</h5>
                <p><i class="bi bi-info-square-fill me-2"></i>El usuario administrador se puede editar pero no eliminar.</p>
                <div class="d-flex col-auto">
                    <button *ngIf='seleccionado.correo != "admin@rsocial.com"' class="btn btn-danger me-2" data-bs-toggle="modal" data-bs-target="#confirmacionEliminar">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="seleccionado" class="modal fade" id="confirmacionEliminar" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content bg-dark text-color border-0 border-3 border-bottom border-color">
                <div class="modal-header border-0 border-1 border-bottom border-color">
                    <h5 class="modal-title">Confirmar eliminación</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <p>¿Eliminar a {{ seleccionado.nombre }} ?</p>
                    <div class="d-grid">
                        <button type="button" class="btn btn-color" (click)="eliminarFila()" data-bs-dismiss="modal">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
