<div class="offcanvas offcanvas-start bg-dark border-end border-color" data-bs-scroll="true" tabindex="-1" id="lateralPerfil" aria-labelledby="lateralPerfilTag">
    <div class="offcanvas-header border-bottom border-color text-color p-1">        
    <small class="text-muted">
        <i class="bi bi-person-circle"></i>
        {{ logged.nombre + ' ' + logged.apellidos }}
    </small>
        <button class="link-color btn" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="bi bi-x icono"></i>
        </button>
    </div>
    <div class="offcanvas-body text-color text-center">
        <div class="row d-grid mx-2 gap-2">
            <h5 class="m-0 p-0">Panel de control</h5>
            <button class="btn btn-sm btn-outline-color" routerLink="/home">
                <i class="bi bi-house"></i>
                Home
            </button>
            <button class="btn btn-sm btn-outline-color disabled" routerLink="/chat">
                <i class="bi bi-chat-dots-fill"></i>
                Chat
            </button>
            <button class="btn btn-sm btn-outline-color" routerLink="/perfil">
                <i class="bi bi-person-fill"></i>
                Perfil
            </button>
            <button class="btn btn-sm btn-outline-color disabled">
                <i class="bi bi-gear-wide-connected"></i>
                Preferencias
            </button>
            <button type="button" class="btn btn-sm btn-outline-color">
                <i class="bi bi-question-circle-fill"></i>
                Asistencia técnica
            </button>
            <button class="btn btn-sm btn-outline-color" routerLink="/politica">
                <i class="bi bi-lock-fill"></i>
                Políticas
            </button>
            <button *ngIf="logged.rol == 'admin'" class="btn btn-sm btn-outline-color" routerLink="/admin">
                <i class="bi bi-moon-stars-fill"></i>
                Admin
            </button>
            <button class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmacionSesion">
                <i class="bi bi-box-arrow-in-right"></i>
                Cerrar sesión
            </button>
        </div>
    </div>
</div>
