<div class="offcanvas offcanvas-start bg-dark border-end border-color" data-bs-scroll="true" tabindex="-1" id="lateralPerfil" aria-labelledby="lateralPerfilTag">
    <div class="offcanvas-header border-bottom border-color text-color p-1">
      <h5 class="offcanvas-title" id="lateralPerfilTag">RSOCIAL</h5>
        <button class="link-color btn" data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="bi bi-x icono"></i>
        </button>
    </div>
    <div class="offcanvas-body text-dark">
        <div class="row d-grid mx-2 gap-2">
            <h5 class="text-color text-center">Panel de control</h5>
            <button class="btn btn-sm btn-outline-color">
                <i class="bi bi-chat-dots-fill"></i>
                Chat
            </button>
            <button class="btn btn-sm btn-outline-color" routerLink="/perfil">
                <i class="bi bi-person-fill"></i>
                Perfil
            </button>
            <button class="btn btn-sm btn-outline-color">
                <i class="bi bi-gear-wide-connected"></i>
                Preferencias
            </button>
            <button type="button" class="btn btn-sm btn-outline-color">
                <i class="bi bi-question-circle-fill"></i>
                Asistencia técnica
            </button>
            <button class="btn btn-sm btn-outline-color" routerLink="/politica">
                <i class="bi bi-lock-fill"></i>
                Políticas
            </button>
            <button class="btn btn-sm btn-outline-danger" (click)="logout()">
                <i class="bi bi-box-arrow-in-right"></i>
                Cerrar sesión
            </button>
        </div>
    </div>
</div>
