<title>Home</title>

<body class="bg-gradiente">
    <navbar></navbar>
    <app-panel-lateral-perfil></app-panel-lateral-perfil>

    <div class="container-fluid">
        <div class="row justify-content-md-center text-color text-center">
            <div class="col-md-8 my-2">
                <div class="card bg-transparent border-0">
                    <div class="card-body">
                        <h3>RSOCIAL</h3>
                        <h6>¡Estamos contentos de volver a verte por aquí, {{ logged.nombre }}!</h6>
                        <div class="row mt-4">
                            <div class="col d-grid">
                                <button class="btn btn-color" routerLink="/perfil"><i class="bi bi-person-fill me-2"></i>Perfil</button>
                            </div>
                            <div class="col d-grid">
                                <button class="btn btn-color" routerLink="/chat"><i class="bi bi-chat-dots-fill me-2"></i>Chat</button>
                            </div>
                            <div class="col d-grid">
                                <button class="btn btn-color disabled" routerLink="/preferencias"><i class="bi bi-gear-wide-connected me-2"></i>Preferencias</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- SWIPER AMIGOS -->
    <div *ngIf="amigos.length > 0 && logged.rol == 'user'" class="container-fluid my-2">
        <h6 class="text-color"><i class="bi bi-people-fill mx-2"></i>{{ amigos.length }} Amigos</h6>
        <swiper class="swiper-container text-color" fxFlex="auto" [config]="configUno" [disabled]="disabled">
            <div *ngFor="let amigo of amigos" class="swiper-slide">
                <div class="card bg-transparent border-color text-center">
                    <div class="card-body mb-3" fxLayout="column" fxLayoutAlign="center">
                        <h5 class="card-title">{{ amigo.nombre + ' ' + amigo.apellidos }}</h5>
                        <p class="card-text">{{ amigo.descripcion }}</p>
                    </div>
                </div>
            </div>
        </swiper>
    </div>

    <!-- DESCUBRIR -->
    <div class="container-fluid text-color mt-2">
        <div class="row">
            <div class="col" *ngIf="logged.rol == 'user'">
                <h6><i class="bi bi-person-plus-fill mx-2"></i>Conoce a nuevas personas</h6>
                <swiper class="swiper-container text-color" fxFlex="auto" [config]="configDos" [disabled]="disabled">
                    <div *ngFor="let usuario of noAgregados" class="swiper-slide">
                        <div class="card bg-transparent border-color text-center m-1">
                            <div class="d-flex p-2">
                                <div class="mt-1 mx-2">
                                    <img src="{{ usuario.avatar }}" class="rounded-circle" width="20">
                                </div>
                                <div class="mt-1">{{ usuario.nombre + ' ' + usuario.apellidos }}</div>
                                <div class="ms-auto">
                                    <button class="btn btn-color" (click)="agregarAmigo(usuario.correo)">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </swiper>
            </div>
        </div>
    </div>


</body>