<title>Home</title>

<body class="bg-gradiente">
    <navbar></navbar>
    <app-panel-lateral-perfil></app-panel-lateral-perfil>

    <!-- SWIPER AMIGOS -->
    <div *ngIf="amigos.length > 0" class="container-sm mt-2">
        <h6 class="text-color">{{ amigos.length }} Amigos</h6>
        <swiper *ngIf="show" class="swiper-container text-color" fxFlex="auto" [config]="config" [disabled]="disabled" (indexChange)="onIndexChange($event)" (swiperTransitionStart)="onSwiperEvent('transitionStart')" (swiperTransitionEnd)="onSwiperEvent('transitionEnd')">
            <div *ngFor="let amigo of amigos" class="swiper-slide">
                <div class="card bg-transparent border-color text-center">
                    <div class="card-body mb-3" fxLayout="column" fxLayoutAlign="center">
                        <h5 class="card-title">{{ amigo.nombre + ' ' + amigo.apellidos }}</h5>
                        <p class="card-text">{{ amigo.descripcion }}</p>
                    </div>
                </div>
            </div>
        </swiper>
    </div>
    <!-- DESCUBRIR -->
    <div class="container-sm">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>


</body>