<title>Home</title>

<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid d-flex flex-row justify-content-between">
        <div class="justify-content-between">
            <a href="#">
                <i class="bi bi-person link-color"></i>
            </a>
            <a href="#">
                <i class="bi bi-house link-color"></i>
            </a>
            <a href="#">
                <i class="bi bi-bell link-color"></i>
            </a>
        </div>
    </div>
</nav>